@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Global Azure Boot Camp 2016</h1>
    <p class="lead">Welcome to the Global Azure Boot Camp!</p>
    <p><a href="http://global.azurebootcamp.net" class="btn btn-primary btn-lg">Global Azure Boot Camp</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Microsoft Azure blah blah blah
        </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get the Tools</h2>
        <p>blah blah</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com" target="_blank">Download Now! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something Else</h2>
        <p>blah blah</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>*@