<appSettings>
  <add key="CurrentLocation" value="Local Machine"/>
  <add key="iKey" value=""/>


  <!-- This key is for Application Insights resource 'globalazureblog-northcentralus' in resource group 'GlobalAzure2016' -->
  <!--<add key="iKey" value=""/>-->

  <!-- This key is for Application Insights resource 'globalazureblog-northcentralus-staging' in resource group 'GlobalAzure2016' -->
  <!--<add key="iKey" value=""/>-->

  <!-- This key is for Application Insights resource 'globalazureblog-southcentralus' in resource group 'GlobalAzure2016' -->
  <!--<add key="iKey" value=""/>-->
</appSettings>